<% if notice %>
<p id="notice"><%=notice %></p>
<% end %>

 <br></br>
 <br></br>

<div class="jumbotron" align="center">

    <h1>Medical Supply Management system</h1>

</div>
<div class="row" align="center">
  <div class="col-md-4">
    <h2>Dashboard 1</h2>
    <p>Here's will be dashboard 1  </p>
      <img src="/assets/Supply_dash.png" width="250px" height="250px"/>
    <p><a class="btn btn-success" href="http://fbi.gov/">Get Details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Dashboard 2</h2>
    <p> Here's will be dashboard 2</p>
    <img src="/assets/Supply_dash.png" width="250px" height="250px"/>
    <p><a class="btn btn-success" href="http://fbi.gov/">Get Details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Dashboard 3</h2>
    <p>Here's will be dashboard 3</p>
    <img src="/assets/Supply_dash.png" width="250px" height="250px"/>
    <p> <a class="btn btn-success" al href="http://fbi.gov/">Get Details &raquo;</a> </p>
  </div>
</div>